<div class="method" {{!bind-attr id=itemId class=classes}}>
  <h3 {{!bind-attr data-id=itemId}} class="name anchorable-toc"><code>{{name}}</code></h3>
  {{#if paramsListing}}
    <span class="args">({{paramsListing}})</span>
  {{/if}}
  
  {{#if returnType}}
    <span class="type">{{returnType}}{{!api-class-link className=returnType}}</span>
  {{/if}}

  {{#if deprecated}}
    <span class="flag deprecated">deprecated</span>
  {{/if}}

  {{#if access}}
    <span {{bind-attr class=":flag access"}}>{{access}}</span>
  {{/if}}

  {{#if final}} <span class="flag final">constant</span> {{/if}}
  {{#if static}} <span class="flag static">static</span> {{/if}}
  {{#if optional}} <span class="flag optional">optional</span> {{/if}}
  {{#if required}} <span class="flag required">required</span> {{/if}}

  <div class="meta">
    {{#if overwrittenFromClass}}
      Inherited from
      {{! TODO: Make direct method links work}}
      {{!api-class-link className=overwrittenFromClass}}
      
      {{#if file}}
        but overwritten in
      {{/if}}
    {{else}}
      {{#if extendedFrom}}
        Inherited from
        {{!api-class-link className=extendedFrom}}
      {{else}}
        {{#if file}}
          Defined in
        {{/if}}
      {{/if}}
    {{/if}}
    {{api-file-link model=model}}

    {{! TODO: Handle deprecation message }}
    {{#if since}}
      <br/>Available since {{since}}
    {{/if}}
  </div>

  {{#if description}}
    <div class="description">
      {{api-markdown text=description}}
    </div>
  {{/if}}

  <p>
    {{#if default}}
      <strong>Default:</strong> <code>{{default}}</code>
    {{/if}}
  </p>

  {{#if example}}
    <div class="example">
      <h4>Example:</h4>

      <div class="example-content">
        {{#each example}}
          {{api-markdown text=example}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if params}}
    <div class="params">
      <h3>Parameters:</h3>

      <dl>
        {{#each params}}
          <dt><strong>{{name}}</strong> <span class="type">{{!api-class-link className=type}}</span></dt>
          <dd>{{description}}</dd>
        {{/each}}
      </dl>
    </div>
  {{/if}}

  {{#if returnType}}
    <div class="return">
      <h3>Returns:</h3>
      <dl>
        <dt><span class="type">{{!api-class-link className=returnType}}</span>
        <dd>{{returnDescription}}</dd>
      </dl>
    </div>
  {{/if}}
</div>
