<div class="method" {{!bind-attr id=itemId class=classes}}>
  <h3 {{!bind-attr data-id=itemId}} class="name anchorable-toc"><code>{{model.name}}</code></h3>
  {{#if paramsListing}}
    <span class="args">({{paramsListing}})</span>
  {{/if}}

  {{#if model.type}}<span class="type">{{api-class-link model=model.type}}</span>{{/if}}
  {{#if model.hasReturnType}}<span class="type">{{api-class-link model=model.returnType}}</span>{{/if}}
  {{#if model.deprecated}} <span class="flag deprecated">deprecated</span> {{/if}}
  {{#if model.access}} <span {{bind-attr class=":flag model.access"}}>{{model.access}}</span> {{/if}}
  {{#if model.final}} <span class="flag final">constant</span> {{/if}}
  {{#if model.static}} <span class="flag static">static</span> {{/if}}
  {{#if model.optional}} <span class="flag optional">optional</span> {{/if}}
  {{#if model.required}} <span class="flag required">required</span> {{/if}}

  {{! TODO BEFORE SHIPPING }}
  <div class="meta">
    {{#if overwrittenFromClass}}
      Inherited from
      {{! TODO: Make direct method links work}}
      {{!api-class-link className=overwrittenFromClass}}
      
      {{#if file}}
        but overwritten in
      {{/if}}
    {{else}}
      {{#if extendedFrom}}
        Inherited from
        {{!api-class-link className=extendedFrom}}
      {{else}}
        {{#if file}}
          Defined in
        {{/if}}
      {{/if}}
    {{/if}}
    {{api-file-link model=model}}

    {{! TODO: Handle deprecation message }}
    {{#if model.since}}
      <br/>Available since {{model.since}}
    {{/if}}
  </div>

  {{#if model.description}}
    <div class="description">
      {{api-markdown text=model.description}}
    </div>
  {{/if}}

  <p>
    {{#if model.default}}
      <strong>Default:</strong> <code>{{model.default}}</code>
    {{/if}}
    &nbsp;
  </p>

  {{#if model.example}}
    <div class="example">
      <h4>Example:</h4>

      <div class="example-content">
        {{#each model.example}}
          {{api-markdown text=model.example}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if model.hasParams}}
    <div class="params">
      <h3>Parameters:</h3>

      <dl>
        {{#each model.params}}
          <dt><strong>{{name}}</strong> <span class="type">{{api-class-link model=type}}</span></dt>
          <dd>{{description}}</dd>
        {{/each}}
      </dl>
    </div>
  {{/if}}

  {{#if model.hasReturnType}}
    <div class="return">
      <h3>Returns:</h3>
      <dl>
        <dt><span class="type">{{api-class-link model=model.returnType}}</span>
        <dd>{{model.returnDescription}}</dd>
      </dl>
    </div>
  {{/if}}
</div>
