<ul>
  {{#each searchResults.classes}}
  <li>{{name}}</li>
  {{/each}}
  {{#each searchResults.files}}
  <li>{{name}}</li>
  {{/each}}
  {{#each searchResults.modules}}
  <li>{{name}}</li>
  {{/each}}
  {{#each searchResults.classItems}}
  <li>{{name}}{{file}}:{{line}}{{type}}</li>
  {{/each}}
</ul>
