<ul>
  {{#each searchResults.classes}}
  <li>{{#link-to 'class.all' name}}{{name}}{{/link-to}}</li>
  {{/each}}
  {{#each searchResults.files}}
  {{log this}}
  <li>{{#link-to 'class.all' class}}{{name}}{{/link-to}}</li>
  {{/each}}
  {{#each searchResults.modules}}
  {{!TODO: need module linkable path}}
  <li>{{#link-to 'class.all' class}}{{name}}{{/link-to}}</li>
  {{/each}}
  {{#each searchResults.classItems}}
  <li>{{#link-to 'class.all' class}}{{itemtype}}: {{class}}#{{name}}{{/link-to}}</li>
  {{/each}}
</ul>
