<h1 class="api-header">
  {{name}} {{#if static}}Namespace{{else}}Class{{/if}}
  {{api-file-link model=this linkClass='edit-page'}}
</h1>

<hr>

{{#if deprecated}}
  <p>DEPRECATED</p>
{{/if}}

{{#if access}}
  <p>{{accessUpcase}}</p>
{{/if}}

<div class="class-info">
  {{#if extends}}
    <p>Extends: {{api-class-link model=extends}}</p>
  {{/if}}

  {{#each use in uses}}
    <p>Uses: {{api-class-link model=use}}</p>
  {{/each}}

  {{#if file}}
    <p>Defined in: {{api-file-link model=this}}</p>
  {{/if}}

  {{#if module}}
    <p>Module: {{api-module-link model=module}}</p>
  {{/if}}

  {{#if submodule}}
    <p>Submodule: {{api-module-link model=submodule}}</p>
  {{/if}}
</div>

{{#if description}}
  <div class="description">
    {{api-markdown text=description}}
  </div>
{{/if}}

{{#if hasClassitems}}
  <div class="tabs">
    <ul>
      {{#link-to 'class.index' tagName='li'}}{{link-to "Index" 'class.index'}}{{/link-to}}
      {{#link-to 'methods' tagName='li'}}{{link-to "Methods" 'methods'}}{{/link-to}}
      {{#link-to 'properties' tagName='li'}}{{link-to "Properties" 'properties'}}{{/link-to}}
      {{#link-to 'events' tagName='li'}}{{link-to "Events" 'events'}}{{/link-to}}
    </ul>
    <div class="pane">
      {{partial 'apiOptions'}}
      {{outlet}}
    </div>
  </div>
{{/if}}
