<h1 class="api-header">
  {{name}} {{#if static}}Namespace{{else}}Class{{/if}}
  {{api-file-link apiItem=this cssClass='edit-page'}}
</h1>

<hr>

{{#if deprecated }}<p>DEPRECATED</p>{{/if}}
{{#if access }}<p>{{accessUpcase}}</p>{{/if}}
<div class="class-info">
  {{#if extends}}<p>Extends: {{api-file-link this}}</p>{{/if}}
  {{#if uses}}
    {{#each use in uses}}
    <p>Uses: {{api-class-link className=use}}</p>
    {{/each}}
  {{/if}}

  {{#if file}}
    <p>Defined in: {{api-file-link apiItem=this}}</p>
  {{/if}}

  {{#if submodule}}
    <p>Module: {{api-module-link moduleName=submodule apiStore=apiStore}}</p>
  {{else}}
    {{#if module}}
      <p>Module: {{api-module-link moduleName=module apiStore=apiStore}}</p>
    {{/if}}
  {{/if}}
</div>

{{#if description}}
  <div class="description">
    {{api-markdown text=description}}
  </div>
{{/if}}

{{#if typesPresent}}
  <div class="tabs">
    <ul>
      <li {{bind-attr class="isAllRoute:active"}}>{{#link-to 'class.all' name}}Index{{/link-to}}</li>
      {{#if methodsPresent}}
        <li {{bind-attr class="isMethodsRoute:active"}}>{{#link-to 'class.methods' name}}Methods{{/link-to}}</li>
      {{/if}}
      {{#if propertiesPresent}}
        <li {{bind-attr class="isPropertiesRoute:active"}}>{{#link-to 'class.properties' name}}Properties{{/link-to}}</li>
      {{/if}}
      {{#if eventsPresent}}
        <li {{bind-attr class="isEventsRoute:active"}}>{{#link-to 'class.events' name}}Events{{/link-to}}</li>
      {{/if}}
    </ul>
    {{#each type in types}}
    {{/each}}
  </div>
{{/if}}

{{outlet}}
{{!
  <% types.each do |type| %>
    <div class="pane" id="<%= type.pluralize %>">
      <%= partial "api_options" %>
      <% @class.classitems[type].sort.each do |(name, data)| %>
        <%= partial "api/item", :locals => { :item => data, :type => type } %>
      <% end %>
    </div>
  <% end %>
}}
